#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: $background-color;
    color: $font-primary-color;
}

#content {
    flex: 1 0 auto;
}

header {
    margin-bottom: 28px;
}

footer {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $font-primary-color;
}

blockquote {
    border-left: 10px solid $font-primary-color;
    padding: 1em;
}